---
layout: page
---

{% if paginator.page > 1 %}{% assign path_prefix = '../' %}{% endif %}

<a class="twitter-timeline" height=350 data-link-color="#006AFF" data-dnt=true href="https://twitter.com/MarionSmits" data-widget-id="257247971945611265">Tweets by @MarionSmits</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% for page in paginator.posts %}
<div class="post">
  <div class="content">
	<div class="title"><h3><a href="{{path_prefix}}{{ page.url | replace_first:'/','' | replace:'.html','' }}">{{page.title}}</a></h3></div>
	{% if page.date %}
		<div class="meta"><span class="date">{{ page.date | date:'%d %b %Y' }}</span></div>
	{% endif %}
	<div class="body-post">
	  {{ page.content }}

	  {% if page.tags %}
		  <ul class="tags">
			{% for name in page.tags %}
				<!-- {{path_prefix}}tag/{{name}} -->
				<li><a href="#">{{name}}</a></li>
			{% endfor %}
		  </ul>  
	  {% endif %}
	</div>
  </div>
  <div class="clear"></div>
</div>
{% endfor %}


{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<li class="active"><a href="#">{{ page }}</a></li>
			{% elsif page == 1 %}
				<li><a href="{{path_prefix}}index.html">{{ page }}</a></li>
			{% else %}
				<li><a href="{{path_prefix}}{{ page }}/index.html">{{ page }}</a></li>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
