<!DOCTYPE html> 
<html lang="en">
{% assign author = 'Marion Smits' %}
{% if paginator.page > 1 %}{% assign path_prefix = '../' %}{% endif %}
<head>
	<title>{{page.title}}</title>
	<meta name="description" content="{{author}} {{blog_title}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="ROBOTS" content="INDEX,FOLLOW">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="description" content="{{author}} | {{blog_title}}">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{base_url}}/feed" />
	<link href="{{path_prefix}}style/reset.css" type="text/css" rel="stylesheet">
	<link href="{{path_prefix}}style/marionsmits.css" type="text/css" rel="stylesheet">
</head>
<body class="{{page.path | split:'.' | first }}">
<div class="wrapper">
	<div class="blog">
		<div id="header">
			<h1><a href="{{path_prefix}}index.html">Marion Smits<em>.</em></a></h1>
		</div>

		{% include menu.html %}

		<div id="sidebar">
		</div>

		<div class="container">
			<div class="post">
				<div class="content">
					{% if page.date %}
						<div class="meta"><span class="date">{{ page.date | date:'%d %b %Y' }}</span></div>
					{% endif %}
					<div class="body-page">
						{{ content }}
					</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>           
