<!DOCTYPE html> 
<html lang="en">
{% assign path_prefix = '../' %}
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="ROBOTS" content="INDEX,FOLLOW">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Marion Smits’ personal web site">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{base_url}}/feed" />
	<link href="{{path_prefix}}style/reset.css" type="text/css" rel="stylesheet">
	<link href="{{path_prefix}}style/marionsmits.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
	<div class="blog">
		<div id="header">
			<h1><a href="{{path_prefix}}index.html"><img src="{{path_prefix}}style/logo.png" alt="Marion Smits"/></a></h1>
			<div id="headerimg">
				<h1><a href="{{path_prefix}}index.html">Marion Smits</a></h1>
				<div class="description">My life in neuroradiology, FMRI &amp DTI research</div>
			</div>
		</div>

 		{% include menu.html %}

		<div id="sidebar">
			{% capture events %}{% include events.md %}{% endcapture %}
			{{ events | markdownify }}
		</div>
 
		<div class="container">
			<div class="post">
				<div class="content">
					<div class="title"><h3><a href="{{path_prefix}}{{ page.url | replace_first:'/','' | replace:'.html','' }}">{{page.title}}</a></h3></div>
					{% if page.date %}
						<div class="meta"><span class="date">{{ page.date | date:'%d %b %Y' }}</span></div>
					{% endif %}
					<div class="body-post">
						{{ content }}

						{% if page.tags %}
							<ul class="tags">
								{% for name in page.tags %}
{% capture tag %}{{ name | replace:',','' }}{% endcapture %}									
									<li><a href="{{path_prefix}}tag/{{ tag | downcase}}">{{tag}}</a></li>
								{% endfor %}
							</ul>  
						{% endif %}
					</div>
				</div>
				<div class="clear"></div>
		</div>

	</div>
</div>

</body>
</html>           
